body{
    background-color: pink;
    font-family: 'Poltawski Nowy', serif;
}
h1{
    background-color: bisque;
    padding: 20px;
    text-align: center;
}
#ugly{
    width: 200px;
    height: 300px;
    float: left;
}
p{
    font-size: x-large;
}
ol,li, label{
    text-align: start;
  font-size: x-large;  
}
a{
    color: white;
    background-color: palevioletred;
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
}
article{
    text-align: center;
    margin-top: 100px;
}
#we{
    animation-name: hehe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    margin: 20px;
}

#fun{
    width: 400px;
    height: 200px;
}
@keyframes hehe{
    0%{left:0px; top:0px; right:0px;bottom:0px}
    25%{left: 1000px;top:0px; right:0px; bottom:0px}
    50%{left:1000px;top:800px;right:0px; bottom:0px}
    75%{left:0px; top:400px;;right: 1000px; bottom: 0px;}
    100%{left:0px; top:0px; right:1000px; bottom:800px}
 }
