body{
    background-color: pink;
    font-family: 'Poltawski Nowy', serif;
    text-align: center;
}
h1{
    background-color: bisque;
    padding: 20px;
    text-align: center;
}
#ugly{
    width: 200px;
    height: 300px;
    float: left;
}
p{
    font-size: x-large;
}
div{
    text-align: center;
}
ol,li, label{
    text-align: start;
  font-size: x-large;  
}
#stupid{
    float: right;
    margin: 5px;
}
a{
    color: white;
    background-color: palevioletred;
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
}
#fart{
    float: right;
    margin: 5px;
    width: 400px;
    height: 400px;
}
#gosh{
    float: left;
    width: 500px;
    margin-left:50px;
}
#list{
    float: right;
    font-size: 100px;
    margin-right: 190px;
}
#animations{
    margin-left: 20px;
    margin-top: 10px;
}
@media screen and (max-width:894px){
    #fart{
        margin: 65px;
        margin-top:1px ;
    }
    #ugly{
        margin:15px
    }
}

